<div mat-dialog-content>
    <div class="dialgo-close-brand">
        <img src="../../../assets/images/cerrar.svg" alt="cerrar" (click)="dialogRef.close()">
    </div>
    <div class="modal-header-mvm">
        <img src="../../../../assets/images/Energia-green.svg" alt="energia">
        <h2 class="modal-title-mvm mt-20">Comprar energia</h2>
    </div>
    <form [formGroup]="comprarEnergiaForm">
        <div class="row">
            <div class="col">
                <div class="form-field">
                    <label>Generadores disponibles</label>
                    <select class="custom-select" formControlName="generador">
                        <option [value]=""></option>
                        <option *ngFor="let generador of generadores" [ngValue]="generador">
                            {{generador.infoContrato.empresa}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center flex-row-reverse mt-20">
            <button class="button-mvm w-160" mat-ripple (click)="onComprarEnergia()">Realizar contrato</button>
            <button class="cancel-button-mvm w-160 mr-30" mat-ripple (click)="onCancelar()">Cancelar</button>
        </div>
    </form>

    <mat-card class="custom mt-20 mb-20 fadeIn" *ngIf="this.generadorSeleccionado">
        <mat-card-title>Empresa: {{this.generadorSeleccionado.infoContrato.empresa}} </mat-card-title>
        <mat-card-subtitle>Nit: {{this.generadorSeleccionado.infoContrato.nit}} </mat-card-subtitle>
        <mat-card-content>
            <p>
                Dueño del contrato: {{this.generadorSeleccionado.infoContrato.owner}}
            </p>
            <p>
                Contacto: {{this.generadorSeleccionado.infoContrato.contacto}}
            </p>
            <p>
                Teléfono: {{this.generadorSeleccionado.infoContrato.telefono}}
            </p>
            <p>
                Correo: {{this.generadorSeleccionado.infoContrato.correo}}
            </p>
            <p>
                Departamento: {{this.generadorSeleccionado.infoContrato.departamento}}
            </p>
            <p>
                Ciudad: {{this.generadorSeleccionado.infoContrato.ciudad}}
            </p>
            <p>
                Dirección: {{this.generadorSeleccionado.infoContrato.direccion}}
            </p>
        </mat-card-content>
    </mat-card>
</div>