<div class="container">
    <h2 class="mt-20">Información Banco de energia</h2>
    <mat-card class="mb-20" *ngFor="let energia of energiasDisponibles">
        <mat-card-title>
            Tipo de energia: {{energia.nombre}}
        </mat-card-title>
        <mat-card-content>
            <p>
                Cantidad de energia disponible: {{energia.cantidadEnergia}}
            </p>
            <p>
                Precio de la energia: {{energia.precio}} tokens
            </p>
        </mat-card-content>
    </mat-card>
</div>