<div class="container">
    <h2 class="mt-20">Emisiones de compra pendientes</h2>
    <mat-card class="custom mb-20" *ngFor="let emision of emisionesDeCompra">
        <mat-card-title>Empresa: {{emision.empresaCliente}}</mat-card-title>
        <mat-card-subtitle>Fecha Emision: {{emision.fechaEmision}}</mat-card-subtitle>
        <mat-card-content>
            <p>
                Direccion del contrato: {{emision.dirContratoCliente}}
            </p>
            <p>
                Tipo de energia: {{emision.tipoEnergia}}
            </p>
            <p>
                Cantidad de energia: {{emision.cantidadDeEnergia}}
            </p>
        </mat-card-content>
    </mat-card>
</div>