<div mat-dialog-content>
    <h2 class="mt-20">Certificado Ventas Energia</h2>
    <hr>
    <p>
        <strong>Contrato Cliente: </strong>
        <span>{{infoCertificadoCompra.dirContratoCliente}}</span>
    </p>
    <p>
        <strong>Nombre del cliente: </strong>
        <span>{{infoCertificadoCompra.empresaCliente}}</span>
    </p>
    <p>
        <strong>Contrato Generador: </strong>
        <span>{{infoCertificadoCompra.dirContratoGenerador}}</span>
    </p>
    <p>
        <strong>Nombre del generador: </strong>
        <span>{{infoCertificadoCompra.empresaGenerador}}</span>
    </p>
    <p>
        <strong>Nombre de la planta de energia: </strong>
        <span>{{infoCertificadoCompra.nombrePlanta}}</span>
    </p>
    <p>
        <strong>Contrato del comercializador: </strong>
        <span>{{infoCertificadoCompra.dirComercializador}}</span>
    </p>
    <p>
        <strong>Nombre del comercializador: </strong>
        <span>{{infoCertificadoCompra.empresaComercializador}}</span>
    </p>
    <p>
        <strong>Tipo de energia: </strong>
        <span>{{infoCertificadoCompra.tipoEnergia}}</span>
    </p>
    <p>
        <strong>Cantidad de energia: </strong>
        <span>{{infoCertificadoCompra.cantidadEnergia}} MWh</span>
    </p>
    <p>
        <strong>Hash del certificado: </strong>
        <span>{{infoCertificadoCompra.hashCertificado}}</span>
    </p>
    <p>
        <strong>Fecha de certificación: </strong>
        <span>{{infoCertificadoCompra.fechaCertificado}}</span>
    </p>
</div>