<div class="container">
  <div class="titulo">
    <h2 class="title-xg">{{ "Agentes del mercado" | translate }}</h2>
  </div>

  <app-filter
    [rowsForm]="filterFormProperties"
    (onfieldValueChange)="onfieldValueChange($event)"
  ></app-filter>

  <div class="table-container mt-30 fadeIn">
    <mat-table #table [dataSource]="dataSource" class="mvm-table">
      <!-- Empresa -->
      <ng-container matColumnDef="empresa">
        <mat-header-cell *matHeaderCellDef>
          {{ "Empresa" | translate }}
        </mat-header-cell>
        <mat-cell
          *matCellDef="let element"
          [matTooltip]="element.infoContrato.empresa"
        >
          {{ element.infoContrato.empresa | limitText : 14 | titlecase }}
        </mat-cell>
      </ng-container>

      <!-- Contacto -->
      <ng-container matColumnDef="contacto">
        <mat-header-cell *matHeaderCellDef>
          {{ "Contacto" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.infoContrato.contacto }}
        </mat-cell>
      </ng-container>

      <!-- Ubicación -->
      <ng-container matColumnDef="ubicacion">
        <mat-header-cell *matHeaderCellDef>
          {{ "Ubicación" | translate }}
        </mat-header-cell>
        <mat-cell
          *matCellDef="let element"
          [matTooltip]="element.infoContrato.ciudad"
        >
          {{ element.infoContrato.ciudad }}
          {{ element.infoContrato.departamento }}
        </mat-cell>
      </ng-container>

      <!-- Correo -->
      <ng-container matColumnDef="correo">
        <mat-header-cell *matHeaderCellDef>
          {{ "Correo" | translate }}
        </mat-header-cell>
        <mat-cell
          *matCellDef="let element"
          [matTooltip]="element.infoContrato.correo"
        >
          {{ element.infoContrato.correo | limitText : 13 }}
        </mat-cell>
      </ng-container>

      <!-- Tipo de agente -->
      <ng-container matColumnDef="tipoAgente">
        <mat-header-cell *matHeaderCellDef>
          {{ "Tipo de agente" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.tipoContrato | tipoContrato | translate }}
        </mat-cell>
      </ng-container>

      <!-- Estado -->
      <ng-container matColumnDef="estado">
        <mat-header-cell *matHeaderCellDef>
          {{ "Estado" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span
            [ngClass]="{
              'approve-text': element.estadoSolicitud === 0,
              'reject-text': element.estadoSolicitud === 1
            }"
          >
            {{ element.estadoSolicitud | estadoRegistro | translate }}
          </span>
        </mat-cell>
      </ng-container>

      <!-- Acciones -->
      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef>
          {{ "Acciones" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button
            matRipple
            class="mvm-action-button approve"
            (click)="onApprove(element)"
            [disabled]="
              diligenciandoSolicitud ||
              element.estadoSolicitud === 0 ||
              element.estadoSolicitud === 1
            "
            matTooltip="{{ 'Aceptar solicitud' | translate }}"
          >
            <mat-icon>done</mat-icon>
          </button>

          <button
            matRipple
            class="mvm-action-button reject"
            (click)="onReject(element)"
            [disabled]="
              diligenciandoSolicitud ||
              element.estadoSolicitud === 0 ||
              element.estadoSolicitud === 1
            "
            matTooltip="{{ 'Rechazar solicitud' | translate }}"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row
        class="fadeIn"
        *matHeaderRowDef="displayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>

  <div class="table-container mt-10 fadeIn">
    <mat-paginator
      class="mvm-paginator"
      #paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>
