<div class="container">
    <h2 class="mt-20">Contratos Registrados</h2>
    <mat-card class="custom mb-20" *ngFor="let registro of registrosContratos; let index = index">
        <mat-card-title>Empresa: {{registro.infoContrato.empresa}}</mat-card-title>
        <mat-card-subtitle>Nit: {{registro.infoContrato.nit}}</mat-card-subtitle>
        <mat-card-content>
            <p>
                Dueño del contrato: {{registro.infoContrato.owner}}
            </p>
            <p>
                Contacto: {{registro.infoContrato.contacto}}
            </p>
            <p>
                Teléfono: {{registro.infoContrato.telefono}}
            </p>
            <p>
                Correo: {{registro.infoContrato.correo}}
            </p>
            <p>
                Departamento: {{registro.infoContrato.departamento}}
            </p>
            <p>
                Ciudad: {{registro.infoContrato.ciudad}}
            </p>
            <p>
                Dirección: {{registro.infoContrato.direccion}}
            </p>
            <p>
                Tipo de contrato :
                <span *ngIf="registro.tipoContrato == 0"> Cliente</span>
                <span *ngIf="registro.tipoContrato == 1"> Comercializador</span>
                <span *ngIf="registro.tipoContrato == 2"> Generador</span>
            </p>
        </mat-card-content>
    </mat-card>
</div>