<div class="container">
    <div class="titulo">
        <h1 class="title-xg">Transacciones del mercado</h1>
    </div>

    <form [formGroup]="filterForm" class="filter-form fadeIn">
        <div class="form-row">
            <div class="form-field w-250">
                <label>Tipo de transacción</label>
                <select formControlName="tipoTx">
                    <option [value]=""></option>
                    <option *ngFor="let tipoTx of tiposTransaccion" [value]="tipoTx">{{tipoTx|tipoTransaccion}}</option>
                </select>
            </div>
            <div class="form-field w-250">
                <label>Fecha de transacción</label>
                <input type="text" formControlName="fechaTx" [matDatepicker]="picker" (click)="picker.open()">
                <mat-datepicker #picker></mat-datepicker>
            </div>
            <div class="form-field w-250">
                <label>Tipo de Energía</label>
                <select formControlName="tipoEnergia">
                    <option [value]=""></option>
                    <option *ngFor="let tipoEnergia of tiposEnergia" [value]="tipoEnergia.nombre">{{tipoEnergia.nombre}}</option>
                </select>
            </div>
        </div>
        <div class="form-actions-row mt-30">
            <div class="form-field">
                <button class="button-mvm" mat-stroked-button (click)="onFilterClick()">
                    <img src="../../../../assets/images/buscar.svg" alt="Buscar">
                </button>
            </div>
        </div>
    </form>

    <div class="table-container mt-60 fadeIn">
        <mat-table #table [dataSource]="dataSource" class="mvm-table">

            <ng-container matColumnDef="Transaccion">
                <mat-header-cell *matHeaderCellDef>Tipo de transacción</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.tipoTx | tipoTransaccion}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Fecha">
                <mat-header-cell *matHeaderCellDef>Fecha</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.fechaTx}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="TipoEnergia">
                <mat-header-cell *matHeaderCellDef>Tipo de Energía</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.tipoEnergia}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="CantidadEnergia">
                <mat-header-cell *matHeaderCellDef>Cantidad</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.cantidadEnergia}} MWh</mat-cell>
            </ng-container>

            <ng-container matColumnDef="AgenteOrigen">
                <mat-header-cell *matHeaderCellDef>Agente de origen</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.nombreAgenteOrigen}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="AgenteDestino">
                <mat-header-cell *matHeaderCellDef>Agente de destino</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.nombreAgenteDestino}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>
        </mat-table>
    </div>
    <div class="table-container mt-10 fadeIn">
        <mat-paginator class="mvm-paginator" #paginator [pageSizeOptions]="[5,10, 25, 100 ]" showFirstLastButtons></mat-paginator>
    </div>
</div>