<!--
<div class="container" *ngIf="todoGeneradores">
    <h2 class="mt-20">Lista de generadores</h2>
    <mat-card class="custom mb-20" *ngFor="let registro of todoGeneradores; let index = index">
        <mat-card-title>
            {{registro.infoContrato.empresa}}
        </mat-card-title>
        <mat-card-content>
            <p>Dueño del contrato: {{registro.infoContrato.owner}}</p>
            <p>Empresa: {{registro.infoContrato.empresa}}</p>
            <p>Departamento: {{registro.infoContrato.departamento}}</p>
            <p>Ciudad: {{registro.infoContrato.ciudad}}</p>
            <p>Dirección: {{registro.infoContrato.direccion}}</p>
            <p>Nit: {{registro.infoContrato.nit}}</p>
            <p>Telefono: {{registro.infoContrato.telefono}}</p>
        </mat-card-content>
    </mat-card>
</div>
-->

<div class="container-generadores">

    <div class="pais-generadores">
        <div class="buttons">
            <button class="button-mvm-white">Generadores</button>
            <button class="button-mvm-white">Clientes</button>
            <button class="button-mvm-white">Mapa general</button>
        </div>
        <app-mapa-colombia (departamento)="addItem($event)"></app-mapa-colombia>
    </div>

    <div class="energia-dpto">
        <div class="header">
            <h1 class="title-xg">{{departamento || 'Colombia'}}</h1>
            <p>En {{departamento || 'Colombia'}} se generan los siguientes tipos de energías renovables.</p>
        </div>
        <div class="energia-solar mt-10">
            <img src="../../../../assets/images/panel-solar.png" alt="">
            <span class="title-g-gris mt-10">Solar</span>
        </div>
        <div class="energia-eolica mt-10">
            <img src="../../../../assets/images/energia-eolica.png" alt="">
            <span class="title-g-gris mt-10">Eólica</span>
        </div>
        <div class="button-container">
            <button class="button-mvm-white w50-h30">Ver mas</button>
        </div>
        
    </div>
    
</div>
