<!--
<div class="container" *ngIf="todoGeneradores">
    <h2 class="mt-20">Lista de generadores</h2>
    <mat-card class="custom mb-20" *ngFor="let registro of todoGeneradores; let index = index">
        <mat-card-title>
            {{registro.infoContrato.empresa}}
        </mat-card-title>
        <mat-card-content>
            <p>Dueño del contrato: {{registro.infoContrato.owner}}</p>
            <p>Empresa: {{registro.infoContrato.empresa}}</p>
            <p>Departamento: {{registro.infoContrato.departamento}}</p>
            <p>Ciudad: {{registro.infoContrato.ciudad}}</p>
            <p>Dirección: {{registro.infoContrato.direccion}}</p>
            <p>Nit: {{registro.infoContrato.nit}}</p>
            <p>Telefono: {{registro.infoContrato.telefono}}</p>
        </mat-card-content>
    </mat-card>
</div>
-->

<div class="container-generadores">

    <div class="pais-generadores">
        <div class="tipo-mapa">
            <span class="title">{{tipoMapa}}</span>
        </div>
        <app-mapa-colombia (departamento)="addItem($event)"></app-mapa-colombia>
    </div>

    <div class="energia-dpto">
        <div class="header">
            <h1 class="title-xg">{{departamento || 'Colombia'}}</h1>
        </div>

        <div class="container-chart text-center" *ngIf="tipoMapa=='Generadores'">
            <div>
                <div>
                  <div class="pie-generadores">
                    <canvas baseChart 
                            [data]="pieChartData" 
                            [type]="pieChartType"
                            [options]="pieChartOptions">
                            [legend]="legends">
                    </canvas>
                  </div>
                </div>
              </div>
        </div>
        
        <div class="container-chart text-center" *ngIf="tipoMapa=='Clientes'">
            <div>
                <div>
                  <div class="pie-clientes">
                    <canvas baseChart 
                            [data]="pieChartData2" 
                            [type]="pieChartType"
                            [options]="pieChartOptions">
                    </canvas>
                  </div>
                </div>
              </div>
        </div>

        <div class="container-acordeon-tabla">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title class="text-gris-p">
                        Detalle por región
                    </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="buttons-acordeon text-gris-p">
                    <a class="text-gris-p" (click)="tipoMapa='Generadores'">Generadores</a>
                    <a class="text-gris-p" (click)="tipoMapa='Clientes'" >Clientes</a>
                    </div>
                    
                </mat-expansion-panel>
            </mat-accordion>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
              
                <!-- Name Column -->
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef> Nombre Agente </th>
                  <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="tipo">
                  <th mat-header-cell *matHeaderCellDef> Tipo Energía </th>
                  <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="cantidad">
                  <th mat-header-cell *matHeaderCellDef> Cantidad Generada MWh</th>
                  <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="precio">
                    <th mat-header-cell *matHeaderCellDef> Precio </th>
                    <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
                  </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </div>
        
        
    </div>
    
</div>
