<h2 class="mt-20">Delegacion de tokens</h2>
<form [formGroup]="delegarTokensForm">
    <mat-form-field class="w-100p">
        <mat-label>Tokens Disponibles cliente:</mat-label>
        <input matInput formControlName="cantidadTokensCliente" type="number">
    </mat-form-field>
    <mat-form-field class="w-100p">
        <mat-label>Tokens delegados hasta el momento:</mat-label>
        <input matInput formControlName="cantidadTokensDelegados" type="number">
    </mat-form-field>
    <mat-form-field class="w-100p">
        <mat-label>Tokens a delegar:</mat-label>
        <input matInput formControlName="cantidadTokensDelegar" type="number">
    </mat-form-field>
    <button class="button-mvm" mat-raised-button [disabled]="!isValid" (click)="onDelegarTokens()">Delegar</button>
</form>