<h2 class="mt-20">Delegacion de tokens</h2>
<form [formGroup]="delegarTokensForm">

    <div class="row">
        <div class="col">
            <div class="form-field">
                <label>Tokens Disponibles cliente:</label>
                <input formControlName="cantidadTokensCliente" type="number">
            </div>
        </div>
    </div>
    <div class="row mt-20">
        <div class="col">
            <div class="form-field">
                <label>Tokens delegados hasta el momento:</label>
                <input formControlName="cantidadTokensDelegados" type="number">
            </div>
        </div>
    </div>
    <div class="row mt-20">
        <div class="col">
            <div class="form-field">
                <label>Tokens a delegar:</label>
                <input formControlName="cantidadTokensDelegar" type="number">
            </div>
        </div>
    </div>

    <button class="button-mvm mt-20" mat-raised-button [disabled]="!isValid" (click)="onDelegarTokens()">Delegar</button>
</form>