<div class="container" *ngIf="infoContrato">
    <h2 class="mt-20">Información del generador</h2>
    <mat-card class="custom mb-20">
        <mat-card-title>
            {{infoContrato.empresa}}
        </mat-card-title>
        <mat-card-content>
            <p>Dueño del contrato: {{infoContrato.owner}}</p>
            <p>Empresa: {{infoContrato.empresa}}</p>
            <p>Departamento: {{infoContrato.departamento}}</p>
            <p>Ciudad: {{infoContrato.ciudad}}</p>
            <p>Dirección: {{infoContrato.direccion}}</p>
            <p>Nit: {{infoContrato.nit}}</p>
            <p>Telefono: {{infoContrato.telefono}}</p>
            <p>Tokens: {{tokensGenerador}}</p>
        </mat-card-content>
        <hr>
        <div *ngFor="let energia of energiasDisponibles; let index = index">
            <mat-card-subtitle>
                <h3>Energia {{energia}}</h3>
            </mat-card-subtitle>
            <mat-card-content>
                cantidad : {{cantidadesDisponibles[index]}}
            </mat-card-content>
            <hr>
        </div>

        <mat-card-actions>
            <button class="button-mvm" mat-stroked-button (click)="onNuevaEnergia()">Crear nueva energía</button>
            <button class="button-mvm" mat-stroked-button (click)="onInyectarEnergia()">Inyectar energía</button>
            <button class="button-mvm" mat-stroked-button (click)="onContratarComerciliazador()">Contratar comercializador</button>
        </mat-card-actions>
    </mat-card>
</div>