<div class="container" *ngIf="infoContrato">
    <div class="titulo">
        <h2 class="title-xg">Información del generador</h2>
    </div>
    <mat-card class="custom mb-20">
        <mat-card-title>
            {{infoContrato.empresa}}
        </mat-card-title>
        <mat-card-content>
            <p>Dueño del contrato: {{infoContrato.owner}}</p>
            <p>Empresa: {{infoContrato.empresa}}</p>
            <p>Departamento: {{infoContrato.departamento}}</p>
            <p>Ciudad: {{infoContrato.ciudad}}</p>
            <p>Dirección: {{infoContrato.direccion}}</p>
            <p>Nit: {{infoContrato.nit}}</p>
            <p>Telefono: {{infoContrato.telefono}}</p>
            <p>Tokens: {{tokensGenerador}}</p>
        </mat-card-content>
        <hr>
        <div *ngFor="let energia of energiasDisponibles; let index = index">
            <mat-card-subtitle>
                <h3>Energia {{energia}}</h3>
            </mat-card-subtitle>
            <mat-card-content>
                cantidad : {{cantidadesDisponibles[index]}}
            </mat-card-content>
            <hr>
        </div>

        <mat-card-actions>
            <div class="row">
                <div class="col">
                    <button class="button-mvm" mat-stroked-button (click)="onVerCertificado()">Ver Certificado</button>
                </div>
                <div class="col">
                    <button class="button-mvm" mat-stroked-button (click)="onCrearPlanta()">Crear nueva planta de energia</button>
                </div>
                <div class="col">
                    <button class="button-mvm" mat-stroked-button (click)="onDevolverTokens()">Devolver Tokens</button>
                </div>
                <!-- <div class="col">
                    <button class="button-mvm" mat-stroked-button (click)="onContratarComerciliazador()">Contratar comercializador</button>
                </div> -->
            </div>
        </mat-card-actions>
    </mat-card>
</div>