<mat-toolbar>
    <div class="avatar-container" [routerLink]="['/dashboard']"></div>

    <div class="spacer"></div>

    <button mat-button [matMenuTriggerFor]="aboveMenu">Generador</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item>Crear planta</button>
        <button mat-menu-item>Agregar energía</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="belowMenu">Comercializador</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item>Plantas disponibles</button>
        <button mat-menu-item>Tipos de energía</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="beforeMenu">Cliente</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>



    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            
            <mat-icon>wallet</mat-icon>
            <span>Wallet</span>
        </button>
        <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
            <span>Cerrar sesión</span>
        </button>
    </mat-menu>

</mat-toolbar>