.spacer {
    flex: 1 1 auto;
}

.avatar-container img{
    width: 50%;
}

mat-toolbar button{
    color: var(--gris-claro);
}


/* .avatar-container img {
    width: 100%;
    object-fit: contain;
} */


/*
.container mat-toolbar{
    display: flex;
}
*/