<div mat-dialog-content>
    <h2 class="mt-20">{{title}}</h2>

    <form [formGroup]="nuevaEnergiaForm">
        <div class="row">
            <div class="col">
                <div class="form-field">
                    <label>Nombre energía</label>
                    <input type="text" formControlName="nombreEnergia">
                </div>
            </div>
        </div>

        <div class="row mt-20">
            <div class="col">
                <div class="form-field">
                    <label>Cantidad de energía</label>
                    <input formControlName="cantidadEnergia" type="number" autocomplete="off">
                </div>
            </div>
        </div>

        <div class="row mt-20">
            <div class="col">
                <button class="button-mvm" mat-raised-button (click)="onCrearNuevaEnergia()" [disabled]="!isValid" *ngIf="estado == 0">Crear energía</button>
                <button class="button-mvm" mat-raised-button (click)="onInyectarEnergia()" [disabled]="!isValid" *ngIf="estado == 1">Inyectar energía</button>
            </div>
        </div>
    </form>
</div>