<h2 class="mt-20">{{title}}</h2>

<form [formGroup]="nuevaEnergiaForm">
    <mat-form-field class="w-100p">
        <mat-label>Nombre energía</mat-label>
        <mat-select formControlName="nombreEnergia">
            <mat-option *ngFor="let energia of energiasDisponibles" [value]="energia">
                {{energia}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="w-100p">
        <mat-label>Cantidad de energía</mat-label>
        <input matInput formControlName="cantidadEnergia" type="number" autocomplete="off">
    </mat-form-field>
</form>


<button class="button-mvm" mat-raised-button (click)="onCrearNuevaEnergia()" [disabled]="!nuevaEnergiaForm.valid" *ngIf="estado == 0">Crear energía</button>
<button class="button-mvm" mat-raised-button (click)="onInyectarEnergia()" [disabled]="!nuevaEnergiaForm.valid" *ngIf="estado == 1">Inyectar energía</button>