<div class="container">
    <h2 class="mt-20">{{title}}</h2>
    <mat-card class="custom mb-20" *ngFor="let compra of comprasRealizadas">
        <mat-card-title>{{'Empresa' | translate}}: {{compra.empresaCliente}}</mat-card-title>
        <mat-card-subtitle>{{'Fecha Compra' | translate}}: {{compra.fechaAprobacion}}</mat-card-subtitle>
        <mat-card-content>
            <p>
                {{'Generador de enegia' | translate}}: {{compra.empresaGerador}}
            </p>
            <p>
                {{'Direccion del Generador' | translate}}: {{compra.dirContratoGerador}}
            </p>
            <p>
                {{'Planta de energia' | translate}} : {{compra.nombrePlanta}}
            </p>
            <p>
                {{'Direccion de la Planta' | translate}}: {{compra.dirPlanta}}
            </p>
            <p>
                {{'Comercializador' | translate}}: {{compra.empresaComercializador}}
            </p>
            <p>
                {{'Tipo de energia' | translate}}: {{compra.tipoEnergia | translate}}
            </p>
            <p>
                {{'Cantidad de energia' | translate}}: {{compra.cantidadEnergia}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button class="button-mvm" mat-stroked-button (click)="verCertificado(compra)">{{'Ver Certificado' | translate}}</button>
        </mat-card-actions>
    </mat-card>
</div>
