<div class="container" *ngIf="infoCliente">
    <div class="titulo">
        <h2 class="title-xg">Información del cliente</h2>
    </div>

    <mat-card class="custom mb-20">
        <mat-card-title>Empresa: {{infoCliente.empresa}}</mat-card-title>
        <mat-card-subtitle>Nit: {{infoCliente.nit}}</mat-card-subtitle>
        <mat-card-content>
            <p>
                Dueño del contrato: {{infoCliente.owner}}
            </p>
            <p>
                Contacto: {{infoCliente.contacto}}
            </p>
            <p>
                Teléfono: {{infoCliente.telefono}}
            </p>
            <p>
                Correo: {{infoCliente.correo}}
            </p>
            <p>
                Departamento: {{infoCliente.departamento}}
            </p>
            <p>
                Ciudad: {{infoCliente.ciudad}}
            </p>
            <p>
                Dirección: {{infoCliente.direccion}}
            </p>
            <p>
                Tokens Disponibles: {{tokensCliente}}
            </p>
            <p>
                Tokens Delegados: {{tokensDelegados}}
            </p>
            <hr>
            <div *ngFor="let energia of energiasDisponibles; let index = index">
                <mat-card-subtitle>
                    <h3>Energia {{energia}}</h3>
                </mat-card-subtitle>
                <mat-card-content>
                    cantidad : {{cantidadesDisponibles[index]}}
                </mat-card-content>
                <hr>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div class="row">
                <div class="col">
                    <button class="button-mvm" mat-stroked-button (click)="onVerCertificado()">Ver Certificado</button>
                </div>
                <div class="col">
                    <button class="button-mvm" mat-stroked-button (click)="onComprarTokens()">Comprar tokens</button>
                </div>
                <div class="col">
                    <button class="button-mvm" mat-stroked-button (click)="onDevolverTokens()">Devolver tokens</button>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col">
                    <button class="button-mvm" mat-stroked-button (click)="onContratarComercializador()">Contratar Comercializador</button>
                </div>
                <div class="col">
                    <button class="button-mvm" mat-stroked-button (click)="onDelegarTokens()" [disabled]="!isDelegarValid">Delegar tokens</button>
                </div>
                <div class="col">
                    <button class="button-mvm" mat-stroked-button (click)="onConsumirEnergia()">Consumir energia</button>
                </div>
            </div>
        </mat-card-actions>
    </mat-card>
</div>