<div mat-dialog-content>
    <h2 class="mt-20">Certificado Agente</h2>
    <hr>
    <p>
        <strong>Contrato Agente: </strong>
        <span>{{infoCertificadoAgente.dirContratoAgente}}</span>
    </p>
    <p>
        <strong>Nombre del agente: </strong>
        <span>{{infoCertificadoAgente.nombreEmpresa}}</span>
    </p>
    <p>
        <strong>Contrato certificador: </strong>
        <span>{{infoCertificadoAgente.dirContratoCertificador}}</span>
    </p>
    <p>
        <strong>Nombre del certificador: </strong>
        <span>{{infoCertificadoAgente.nombreCertificador}}</span>
    </p>
    <p>
        <strong>Hash del certificado: </strong>
        <span>{{infoCertificadoAgente.hashCertificado}}</span>
    </p>
    <p>
        <strong>Fecha de certificación: </strong>
        <span>{{infoCertificadoAgente.fechaCertificado}}</span>
    </p>
</div>