<h2 class="mt-20">Compra de tokens</h2>
<form [formGroup]="compraTokensForm">
    <div class="row">
        <div class="col">
            <div class="form-field">
                <label>Tokens Disponibles en el mercado:</label>
                <input formControlName="tokensRegulador" type="text" placeholder="Tokens Disponibles en el mercado">
            </div>
        </div>
    </div>
    <div class="row mt-20">
        <div class="col">
            <div class="form-field">
                <label>Tokens a comprar:</label>
                <input formControlName="cantidadTokensComprar" type="number" placeholder="Tokens a comprar">
            </div>
        </div>
    </div>

    <button class="button-mvm mt-20" mat-raised-button [disabled]="!compraTokensForm.valid" (click)="onSubmit()">Comprar</button>
</form>