<div class="header-crypto">
    <div class="name-crypto">
        <img src="../../../../assets/images/logoETH.png" alt="">
        <span>Ethereum</span>
    </div>
    <div class="price-crypto">
        <div class="porcentaje">
            <button mat-icon-button>
                <mat-icon>keyboard_arrow_up</mat-icon>
                <span>3.7%</span>
            </button>
            
        </div>
        
        
        <span>$ 1,250.65</span>
    </div>
</div>
<app-line-chart></app-line-chart>