<div mat-dialog-content>
    <div class="dialgo-close-brand">
        <img src="../../../assets/images/cerrar.svg" alt="cerrar" (click)="dialogRef.close()">
    </div>
    <div class="modal-header-mvm">
        <img src="../../../../assets/images/mvm_coin.svg" alt="energia">
        <h2 class="modal-title-mvm mt-20">Inyección de tokens</h2>
    </div>

    <form [formGroup]="inyeccionTokensForm">
        <div class="row">
            <div class="col">
                <div class="form-field">
                    <label>Cantidad de tokens</label>
                    <input formControlName="cantidadTokens" type="number">
                </div>
            </div>
        </div>
    </form>

    <div class="d-flex justify-content-center flex-row-reverse mt-20">
        <button class="button-mvm w-160" (click)="onInyectarTokens()" [disabled]="!isValid">Inyectar</button>
        <button class="cancel-button-mvm w-160 mr-30" mat-ripple (click)="dialogRef.close()">Cancelar</button>
    </div>
</div>