<div class="sidebar">
    <h3><b>Cliente</b></h3>
    <a [routerLink]="['/dashboard/cliente']">
        <span>Información</span>
        <mat-icon>keyboard_arrow_right</mat-icon>
    </a>


    <h3><b>Generadores</b> </h3>
    <a [routerLink]="['/dashboard/agregarGenerador']">
        <span>Agregar generador</span>
        <mat-icon>keyboard_arrow_right</mat-icon>
    </a>
    <a [routerLink]="['/dashboard/verGeneradores']">
        <span>Ver generadores</span>
        <mat-icon>keyboard_arrow_right</mat-icon>
    </a>

    <h3><b>Plantas</b> </h3>
    <a>
        <span>Agregar planta</span>
        <mat-icon>keyboard_arrow_right</mat-icon>
    </a>
    <a>
        <span>Ver plantas</span>
        <mat-icon>keyboard_arrow_right</mat-icon>
    </a>

    <h3 id="energia"><b>Energía</b> </h3>
    <a>
        <span>Agregar tipo de energía</span>
        <mat-icon>keyboard_arrow_right</mat-icon>
    </a>
    <a>
        <span>Ver tipos de energía</span>
        <mat-icon>keyboard_arrow_right</mat-icon>
    </a>
</div>