<div class="container" *ngIf="infoRegulador">
    <h2 class="mt-20">Información del Administrador</h2>
    <mat-card class="custom mb-20">
        <mat-card-title>
            Contrato regulador del mercado
        </mat-card-title>
        <mat-card-content>
            <p>Dueño del contrato: {{infoRegulador.owner}}</p>
            <p>Dirección del contrato: {{infoRegulador.dirContrato}}</p>
            <p>Nombre del token: {{infoRegulador.nombreToken}}</p>
            <p>Simbolo del token: {{infoRegulador.simboloToken}}</p>
            <p>Cantidad de tokens Disponibles: {{infoRegulador.cantidadTokens}}</p>
            <p>Precio del token: {{infoRegulador.valorToken}} ethers</p>
        </mat-card-content>
    </mat-card>
</div>