<div class="container" *ngIf="infoCliente">
    <h2 class="mt-20">Información del cliente</h2>
    <mat-card class="custom mb-20">
        <mat-card-title>Empresa: {{infoCliente.empresa}}</mat-card-title>
        <mat-card-subtitle>Nit: {{infoCliente.nit}}</mat-card-subtitle>
        <mat-card-content>
            <p>
                Dueño del contrato: {{infoCliente.owner}}
            </p>
            <p>
                Contacto: {{infoCliente.contacto}}
            </p>
            <p>
                Teléfono: {{infoCliente.telefono}}
            </p>
            <p>
                Correo: {{infoCliente.correo}}
            </p>
            <p>
                Departamento: {{infoCliente.departamento}}
            </p>
            <p>
                Ciudad: {{infoCliente.ciudad}}
            </p>
            <p>
                Dirección: {{infoCliente.direccion}}
            </p>
        </mat-card-content>
    </mat-card>
</div>