<div class="container container-info">
    <div class="informacion">
        <span class="title">{{infoCliente.empresa}}</span>
        <span class="text-gris-p">Nit: {{infoCliente.nit}}</span>
        <span class="text-black-p fw-600">Dueño del contrato:</span>
        <span class="text-black-p">{{infoCliente.owner}}</span>
        <span class="text-black-p fw-600">Departamento:</span>
        <span class="text-black-p">{{infoCliente.departamento}}</span>
        <span class="text-black-p fw-600">Ciudad:</span>
        <span class="text-black-p">{{infoCliente.ciudad}}</span>
        <span class="text-black-p fw-600">Dirección:</span>
        <span class="text-black-p">{{infoCliente.direccion}}</span>
        <span class="text-black-p fw-600">Telefono:</span>
        <span class="text-black-p">{{infoCliente.telefono}}</span>
    </div>
    <div class="botones">
    </div>
</div>


<!--
<div class="container" *ngIf="infoCliente">
    <h2 class="mt-20">Información del cliente</h2>
    <mat-card class="custom mb-20">
        <mat-card-title>Empresa: {{infoCliente.empresa}}</mat-card-title>
        <mat-card-subtitle>Nit: {{infoCliente.nit}}</mat-card-subtitle>
        <mat-card-content>
            <p>
                Dueño del contrato: {{infoCliente.owner}}
            </p>
            <p>
                Contacto: {{infoCliente.contacto}}
            </p>
            <p>
                Teléfono: {{infoCliente.telefono}}
            </p>
            <p>
                Correo: {{infoCliente.correo}}
            </p>
            <p>
                Departamento: {{infoCliente.departamento}}
            </p>
            <p>
                Ciudad: {{infoCliente.ciudad}}
            </p>
            <p>
                Dirección: {{infoCliente.direccion}}
            </p>
        </mat-card-content>
    </mat-card>
</div>

-->