/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    
}

.loginContainer {
    display: block;
    height: 100%;
    background-image: url("../src/assets/images/pattern.png");
}

.loginForm {
    float: right;
    width: 30%;
    height: inherit;
    background-color: #3F51B5;
    box-shadow: 0px 0px 10px #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginFormTitle {
    margin-top: 40px;
    color: white;
    text-align: center;
    padding: 10px;
}

.loginFormTitle button {
    width: 100% !important;
    background-color: white;
    color: black;
}

.custom.mat-card {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    padding-left: 47px !important;
    padding-right: 47px !important;
}

.w-60 {
    width: 60px !important;
}

.w-240 {
    width: 240px !important;
}

.w-450 {
    width: 450px !important;
}

.w-100p {
    width: 100% !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pr-20 {
    padding-right: 20px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.p-20 {
    padding: 20px !important;
}

.m-20 {
    margin: 20px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.main {
    display: grid;
    grid-template-columns: 200px 1% auto 1%;
}

.content-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f5f6f6;
    height: calc(100vh - 64px);
    overflow-y: auto;
    overflow-x: hidden;
    grid-column: 2/5;
}

.toolbar {
    border-bottom: 1px solid #e0e0e0 !important;
    box-shadow: 0px 0px 50px #868585 !important;
}


/* .custom {
    max-width: 400px;
    margin: 20px;
} */

.container-generadores {
    display: grid;
    grid-template-columns: auto auto;
}

.container-generadores .custom h2 {
    text-align: center;
}

.infoGeneradorContainer {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 5fr 3fr;
}

.infoGeneradorContainer .column-1 {
    padding: 10px;
    columns: 1;
}


/* DASHBOARD ETHEREUM */
.ethereum-grid{
    
    /* display: grid;
    grid-template-columns: 33%; */
    margin: 0px 70px;
}

.header-crypto{
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    margin: 20px 70px;
}


.name-crypto img{
    width: 40px;
    background-color: #e0e0e0;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-right: 5px;
}

.header-crypto span{
    font-weight: bold;
    font-size: large;
}

.price-crypto{
    display: flex;
    justify-content: end;
    align-items: center;
}

.chart-price{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
}

.price-crypto .porcentaje{
    width: 60px;
    height: 31px;
    background-color: #16C784;
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;

}

.price-crypto .porcentaje span{
    font-weight:500;
}

.price-crypto .porcentaje span{
    color: white;
    font-size:small;
}


/*TODOS GENERADORES*/
.container-generadores{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: calc(50vh - 32px) calc(50vh - 32px);
}

.container-generadores .pais-generadores{
    /* background-color: #16C784; */
    grid-row: 1/3;
}

.container-generadores .energia-dpto{
    /* background-color: #3c16c72c; */
}

.container-generadores .tipo-energia-dpto{
    /* background-color: #c77a1648; */
}

.departamento-generadores{
    margin: 30px;
}

.energia-dpto h1{
    text-align: center;
}
