<div class="container container-solicitudes">
    <div class="titulo">
        <h1 class="title-xg">Solicitudes</h1>
    </div>
    <div class="subtitulo">
        <a class="color-green">Administrador</a><mat-icon>keyboard_arrow_right</mat-icon><a class="color-green">Solicitudes pendientes</a>
    </div>
    <div class="container-card-registros">
        <div class="card-registros" *ngFor="let solicitud of solicitudesRegistro; let index = index">
            <img src="../../../../assets/logoEmpresas/Logo_EPM.png" alt="">
            <span class="linea-gradiente"></span>
            <div class="ver-detalles">
                <span class="title">Generador</span>
                <button class="button-mvm" mat-stroked-button (click)="onDiligenciarSolicitud(index,solicitud)">Aceptar</button>
                <button class="button-mvm" mat-stroked-button>Rechazar</button>
            </div>
        </div>
        <div class="card-registros">
            <img src="../../../../assets/logoEmpresas/Logo_AES.png" alt="">
            <span class="linea-gradiente"></span>
            <div class="buttons-solicitud">
                <span class="title title-solicitudes">Generador</span>
                <button class="button-mvm" mat-stroked-button>Aceptar
                </button>
                <button class="button-mvm-white" mat-stroked-button>Rechazar
                </button>
                <a class="title-solicitudes">Ver detalles <mat-icon>info</mat-icon> </a>
                
            </div>
           
        </div>
    </div>
</div>

<!--
<div class="container">
    <h2 class="mt-20">Solicitudes pendientes</h2>
    <mat-card class="custom mb-20" *ngFor="let solicitud of solicitudesRegistro; let index = index">
        <mat-card-title>Empresa: {{solicitud.infoContrato.empresa}}</mat-card-title>
        <mat-card-subtitle>Nit: {{solicitud.infoContrato.nit}}</mat-card-subtitle>
        <mat-card-content>
            <p>
                Dueño del contrato: {{solicitud.infoContrato.owner}}
            </p>
            <p>
                Contacto: {{solicitud.infoContrato.contacto}}
            </p>
            <p>
                Teléfono: {{solicitud.infoContrato.telefono}}
            </p>
            <p>
                Correo: {{solicitud.infoContrato.correo}}
            </p>
            <p>
                Departamento: {{solicitud.infoContrato.departamento}}
            </p>
            <p>
                Ciudad: {{solicitud.infoContrato.ciudad}}
            </p>
            <p>
                Dirección: {{solicitud.infoContrato.direccion}}
            </p>
            <p>
                Tipo de contrato :
                <span *ngIf="solicitud.tipoContrato == 0"> Cliente</span>
                <span *ngIf="solicitud.tipoContrato == 1"> Comercializador</span>
                <span *ngIf="solicitud.tipoContrato == 2"> Generador</span>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button class="button-mvm" mat-stroked-button (click)="onDiligenciarSolicitud(index,solicitud)">Aceptar</button>
            <button class="button-mvm" mat-stroked-button>Rechazar</button>
        </mat-card-actions>
    </mat-card>
</div>
-->